Backup_29-Jan-2026/n8n Backup Automatically.json
{
  "updatedAt": "2026-01-15T16:24:39.229Z",
  "createdAt": "2026-01-15T04:11:43.705Z",
  "id": "tXFgRpXr7q4Dcr6_oFtRI",
  "name": "n8n Backup Automatically",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1600,
        -144
      ],
      "id": "27b08812-abcc-4624-8015-de41bcf69a3e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1200,
        -144
      ],
      "id": "f5e6f6a7-be02-45e3-af37-b7e170084c63",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "RkdnLQZqq6jSaPpL",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f114f42b-d3a6-44bb-9e9a-7c7d69c733f3",
              "name": "folderName",
              "value": "=Backup_{{$now.format('dd-MMM-yyyy')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        -144
      ],
      "id": "76aa3d91-3837-4ffb-9b7a-e71f2a383ab8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -992,
        -144
      ],
      "id": "7ffeba1a-6403-4461-a5a3-96b1dfedf103",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c28f0845-522d-42d8-b732-ff1ddf200845",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "ef4fe80c-d574-479e-acfa-a8640b223ee6",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -128
      ],
      "id": "8a1d1f5c-be38-48d6-b895-656e538daf81",
      "name": "Prepare File Content"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "opqtaufiq",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Backup",
          "mode": "list",
          "cachedResultName": "n8n_Backup",
          "cachedResultUrl": "https://github.com/opqtaufiq/n8n_Backup"
        },
        "filePath": "={{ $('Edit Fields').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Jakarta').format('dd-MMM-yyyy T') }} Backup Completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -288,
        -128
      ],
      "id": "e41ea84d-7663-4eac-a7ba-33c3aac35d53",
      "name": "Create a file",
      "webhookId": "37958a57-413f-4f9d-adce-c68c92cbcd1c",
      "credentials": {
        "githubApi": {
          "id": "XNilKasf7nRllbbN",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  // Get the JSON string from previous node\n  const jsonString = item.json.nodes;\n  const fileName = item.json.fileName;\n  \n  // Convert to Base64 properly\n  const base64Content = Buffer.from(jsonString, 'utf-8').toString('base64');\n  \n  console.log(`File: ${fileName}`);\n  console.log(`JSON size: ${jsonString.length} chars`);\n  console.log(`Base64 size: ${base64Content.length} chars`);\n  console.log(`First 100 chars: ${base64Content.substring(0, 100)}`);\n  \n  // Create binary data properly\n  items.push({\n    json: {\n      fileName: fileName\n    },\n    binary: {\n      data: {\n        data: base64Content,\n        mimeType: 'application/json',\n        fileName: fileName,\n        fileSize: jsonString.length\n      }\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -128
      ],
      "id": "67098e1a-9f09-431f-8560-01797dbae367",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Ga5Zd67rdPqjjaiO",
          "mode": "list",
          "cachedResultName": "n8nBackupAutomatically",
          "cachedResultUrl": "/projects/sdSw3IyZuYXrWSTo/datatables/Ga5Zd67rdPqjjaiO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "forlderName": "={{ $('Edit Fields').item.json.folderName }}",
            "fileName": "={{ $('Prepare File Content').item.json.fileName }}",
            "dateName": "={{ $now.setZone('Asia/Jakarta').format('dd-MMM-yyyy T') }}",
            "errorMessage": "={{ $json.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dateName",
              "displayName": "dateName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "forlderName",
              "displayName": "forlderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "errorMessage",
              "displayName": "errorMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -80,
        -112
      ],
      "id": "3fb0e344-1876-4102-be30-268b475c9089",
      "name": "Insert row"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "opqtaufiq",
          "mode": "list",
          "cachedResultName": "opqtaufiq",
          "cachedResultUrl": "https://github.com/opqtaufiq"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Backup",
          "mode": "list",
          "cachedResultName": "n8n_Backup",
          "cachedResultUrl": "https://github.com/opqtaufiq/n8n_Backup"
        },
        "filePath": "={{ $('Edit Fields').item.json.folderName }}/README.md",
        "fileContent": "=## n8n Workflow Backup  {{ $('Edit Fields').item.json.folderName }}\nThis folders contains the backup of all n8n workflows as of {{ $now.setZone('Asia/Jakarta').format('dd-MMM-yyyy T') }}\n\n\n## Backup Details\n- Backup time : {{ $now.setZone('Asia/Jakarta').format('dd-MMM-yyyy T') }}\n- Total workflows : {{ $('Get many workflows').all().length }}\n\n\n## Files\nEach workflow is saved as a separete JSON file with the format\n\n\n---\n*Automatically generated by n8n backup workflow*",
        "commitMessage": "OkOk"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -736,
        -288
      ],
      "id": "15464a3f-291b-4aa6-8eef-e8d5ad5a1209",
      "name": "Create a file1",
      "webhookId": "883ede9a-da2e-479e-8dc3-644e386c398f",
      "credentials": {
        "githubApi": {
          "id": "XNilKasf7nRllbbN",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Create a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0bdf2966-08ca-4517-92dc-d3ed9d8bdb78",
  "activeVersionId": "0bdf2966-08ca-4517-92dc-d3ed9d8bdb78",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-15T04:11:43.705Z",
      "createdAt": "2026-01-15T04:11:43.705Z",
      "role": "workflow:owner",
      "workflowId": "tXFgRpXr7q4Dcr6_oFtRI",
      "projectId": "sdSw3IyZuYXrWSTo"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-15T16:25:00.151Z",
    "createdAt": "2026-01-15T16:24:39.239Z",
    "versionId": "0bdf2966-08ca-4517-92dc-d3ed9d8bdb78",
    "workflowId": "tXFgRpXr7q4Dcr6_oFtRI",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1600,
          -144
        ],
        "id": "27b08812-abcc-4624-8015-de41bcf69a3e",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -1200,
          -144
        ],
        "id": "f5e6f6a7-be02-45e3-af37-b7e170084c63",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "RkdnLQZqq6jSaPpL",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f114f42b-d3a6-44bb-9e9a-7c7d69c733f3",
                "name": "folderName",
                "value": "=Backup_{{$now.format('dd-MMM-yyyy')}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1392,
          -144
        ],
        "id": "76aa3d91-3837-4ffb-9b7a-e71f2a383ab8",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -992,
          -144
        ],
        "id": "7ffeba1a-6403-4461-a5a3-96b1dfedf103",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c28f0845-522d-42d8-b732-ff1ddf200845",
                "name": "nodes",
                "value": "={{ JSON.stringify($json, null, 2) }}",
                "type": "string"
              },
              {
                "id": "ef4fe80c-d574-479e-acfa-a8640b223ee6",
                "name": "fileName",
                "value": "={{ $json.name }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -736,
          -128
        ],
        "id": "8a1d1f5c-be38-48d6-b895-656e538daf81",
        "name": "Prepare File Content"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "opqtaufiq",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_Backup",
            "mode": "list",
            "cachedResultName": "n8n_Backup",
            "cachedResultUrl": "https://github.com/opqtaufiq/n8n_Backup"
          },
          "filePath": "={{ $('Edit Fields').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
          "binaryData": true,
          "commitMessage": "={{ $now.setZone('Asia/Jakarta').format('dd-MMM-yyyy T') }} Backup Completed"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -288,
          -128
        ],
        "id": "e41ea84d-7663-4eac-a7ba-33c3aac35d53",
        "name": "Create a file",
        "webhookId": "37958a57-413f-4f9d-adce-c68c92cbcd1c",
        "credentials": {
          "githubApi": {
            "id": "XNilKasf7nRllbbN",
            "name": "GitHub account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  // Get the JSON string from previous node\n  const jsonString = item.json.nodes;\n  const fileName = item.json.fileName;\n  \n  // Convert to Base64 properly\n  const base64Content = Buffer.from(jsonString, 'utf-8').toString('base64');\n  \n  console.log(`File: ${fileName}`);\n  console.log(`JSON size: ${jsonString.length} chars`);\n  console.log(`Base64 size: ${base64Content.length} chars`);\n  console.log(`First 100 chars: ${base64Content.substring(0, 100)}`);\n  \n  // Create binary data properly\n  items.push({\n    json: {\n      fileName: fileName\n    },\n    binary: {\n      data: {\n        data: base64Content,\n        mimeType: 'application/json',\n        fileName: fileName,\n        fileSize: jsonString.length\n      }\n    }\n  });\n}\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -496,
          -128
        ],
        "id": "67098e1a-9f09-431f-8560-01797dbae367",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "Ga5Zd67rdPqjjaiO",
            "mode": "list",
            "cachedResultName": "n8nBackupAutomatically",
            "cachedResultUrl": "/projects/sdSw3IyZuYXrWSTo/datatables/Ga5Zd67rdPqjjaiO"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "forlderName": "={{ $('Edit Fields').item.json.folderName }}",
              "fileName": "={{ $('Prepare File Content').item.json.fileName }}",
              "dateName": "={{ $now.setZone('Asia/Jakarta').format('dd-MMM-yyyy T') }}",
              "errorMessage": "={{ $json.error }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "dateName",
                "displayName": "dateName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "forlderName",
                "displayName": "forlderName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "fileName",
                "displayName": "fileName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "errorMessage",
                "displayName": "errorMessage",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -80,
          -112
        ],
        "id": "3fb0e344-1876-4102-be30-268b475c9089",
        "name": "Insert row"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "opqtaufiq",
            "mode": "list",
            "cachedResultName": "opqtaufiq",
            "cachedResultUrl": "https://github.com/opqtaufiq"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_Backup",
            "mode": "list",
            "cachedResultName": "n8n_Backup",
            "cachedResultUrl": "https://github.com/opqtaufiq/n8n_Backup"
          },
          "filePath": "={{ $('Edit Fields').item.json.folderName }}/README.md",
          "fileContent": "=## n8n Workflow Backup  {{ $('Edit Fields').item.json.folderName }}\nThis folders contains the backup of all n8n workflows as of {{ $now.setZone('Asia/Jakarta').format('dd-MMM-yyyy T') }}\n\n\n## Backup Details\n- Backup time : {{ $now.setZone('Asia/Jakarta').format('dd-MMM-yyyy T') }}\n- Total workflows : {{ $('Get many workflows').all().length }}\n\n\n## Files\nEach workflow is saved as a separete JSON file with the format\n\n\n---\n*Automatically generated by n8n backup workflow*",
          "commitMessage": "OkOk"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -736,
          -288
        ],
        "id": "15464a3f-291b-4aa6-8eef-e8d5ad5a1209",
        "name": "Create a file1",
        "webhookId": "883ede9a-da2e-479e-8dc3-644e386c398f",
        "credentials": {
          "githubApi": {
            "id": "XNilKasf7nRllbbN",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Create a file1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare File Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare File Content": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Muhammad Taufiq",
    "name": "Version 0bdf2966",
    "description": "",
    "autosaved": false
  },
  "tags": []
}